# Backend
MONGO_URI=mongodb://mongo:27017/portfolioDB
PORT=5000
NODE_ENV=development

# Backend tests (optionnel)
MONGO_URI_TEST=mongodb://localhost:27017/portfolioDB_test

# Frontend
REACT_APP_API_URL=http://localhost:5000/api/projects
